<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
</head>
<body>
<div class="container">
    You could update your password below
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <form method="post" th:action="@{/users/updatePassword}" th:object="${user}">
                <div class="form-group">
                    <span th:errors="*{oldPassword}"
                          th:if="${#fields.hasErrors('oldPassword')}">Surname Error</span><br>
                    <label for="oldPassword">Old password*</label>
                    <input class="form-control" id="oldPassword" th:field="*{oldPassword}" size="40"
                           th:required="required" autofocus="autofocus" type="password">

                    <span th:errors="*{newPassword}"
                          th:if="${#fields.hasErrors('newPassword')}">New password Error</span><br>
                    <label for="newPassword">New password*</label>
                    <input class="form-control" id="newPassword" th:field="*{newPassword}" size="40"
                           th:required="required" type="password"
                           pattern="^\S{6,}$"
                           onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : '');
                           if(this.checkValidity()) form.newPasswordConfirmation.pattern = this.value;"
                           placeholder="Password"
                           required>

                    <span th:errors="*{newPasswordConfirmation}"
                          th:if="${#fields.hasErrors('newPasswordConfirmation')}">New password confirmation Error</span><br>
                    <label for="newPasswordConfirmation">Confirm new password*</label>
                    <input class="form-control" id="newPasswordConfirmation" th:field="*{newPasswordConfirmation}"
                           size="40"
                           th:required="required"
                           type="password"
                           pattern="^\S{6,}$"
                           onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                           placeholder="Verify Password" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<a th:href="@{/welcome}" href="/"> Menu</a>
</body>
</html>